config SECURITY_PMSM
	bool "Provenance monitor security module"
	depends on SECURITY
	default n
	help
	  This enables the provenance monitor security module (PM/SM).

	  If you are unsure how to answer this question, answer N.

